        <%- include('partials/header') %>
        <main>
            <h1><%- title %></h1>
            <h2>Organization</h2>
            <p>Here are a few of our partnership organization</p>
            <ul>
                <% organizations.forEach((org) => { %>
                    <li>
                        <img src="/images/<%= org.logo_filename %>" alt="<%= org.name %> logo">
                        <a href="/organization/<%= org.organization_id %>"><%= org.name %></a>: <%= org.contact_email %>
                    </li>
                <% }); %>
            </ul>
                
        </main>
        <%- include('partials/footer') %>
